@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya');


#center {
    margin: auto;
    max-width: 100%;
    }

h1 {
    text-align: center;
    margin-top: -8px;
    }

h2 {
    font-size: 30px;
    margin-top: 15px;
    }

h4 {
    font-size: 20px;
    position: relative;
    top: 15px;
    }

p {
    font-size: 15px;
    }

ul {
    position:relative;
    left: -20px;
    line-height: 23px;
    list-style-type: disc;
    font-size: 15px;
    }

#designer {
    font-size: 15px;
    margin-top:-20px;
    text-align: center;
    }

address p { 
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: -13px;
    text-align: center;
    line-height: 15px;
    
}

address {
    margin-top: -33px;
    border-bottom: 1px solid black;
    padding-bottom: 30px
}

#contact {
    margin-top: 40px;
    line-height: 10px;
    }

#profile p {
    margin-top: -15px;
    margin-bottom: -10px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    }

#coral {
    display:inline;
    position: relative;
    bottom: 38px;
    left: 170px;
    font-size: 13px;
    }

#experience {
    border-bottom: 1px solid black;
    margin-top: -15px;
    }

#experience p {
    line-height: 15px;
    position: relative;
    left: 20px;
    bottom: 10px;
    }

.title {
    margin-bottom: -15px;
    margin-top: 30px;
    }

.date {
    font-size: 13px;
    display:inline;
    position: relative;
    top:-22px;
    }

.description {
    display: inline;
    font-size: 15px;
    position: relative;
    top: -20px;
    }

#education {
    display: inline-block;
    width: 320px;
    float:right;
    margin-left: 60px;
    margin-top: -5px;
    }

#education ul {
    top: -8px;
    margin-bottom: 40px;
    }

em {
    font-size: 18px;
    margin-right: 8px;
    }

#stuff {
    margin-top: -40px;
    margin-left: 20px;
    }

#stuff p {
    line-height: 10px;
    }

#software {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-top: -15px;
    margin-bottom: -5px;
    }

table {
    border: none;
    margin-top:20px;
    }

td {
   width: 120px;
    font-size: 17px;
    }

#numbers td {
    font-size: 20px;
    position: relative;
    left: 1px;
    }

.grey {
    color: #d8d8d8;
    display: inline-block;
    }

#service {
    display: inline-block;
    float:right;
    width: 300px;
}

#float {
    float:left;
}

#qualities {
    display:inline-block;
    width: 300px;
    float: left;
  
    }

#hobbies {
    display: inline-block;
    float: right;
    width: 300px;
 
    }




