@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

#center {
    margin: auto;
    max-width: 960px;
    min-width: 960px;
    margin-bottom: 100px;
    }


h1 {
    font-family: 'Cutive Mono', monospace;
    display: inline-block;
    position: relative;
    left:-20px;
    font-weight: normal;
}

iframe {
    display: none;
}

input {
    font-size: 25px;
    margin-left: 170px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
}

h3 {
    font-family: 'Cutive Mono', monospace;
    position: relative;
    top:-15px;
    font-weight: normal;
}

h4 {
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}

h5 {
    font-family: 'Cutive Mono', monospace;
    font-size: 17px;
    border: 1px solid black;
    background-color: black;
    color:white;
    padding-left: 5px;
    font-weight:normal;
}

h6 {
    font-family: 'Cutive Mono',monospace;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 17px;
    font-weight: normal;
}

em {
    font-style: normal;
    position: relative;
    left: -20px;
}

p {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    margin-top: -15px;
}

p a {
    color: #827e7f;
    text-decoration: underline;
}
header nav li{
    font-family: 'Cutive Mono', monospace;
    display:inline;
    margin-left: 10px;
}

header img {
    margin-left: -20px;
}

nav {
    display: inline-block;
    float: right;
}

a {
    text-decoration: none;
    color:black;
}

#about {
    width: 430px;
    display:inline-block;
    margin-top: 20px;
}

#writing {
    width: 430px;
    display: inline-block;
    float: right;
    margin-top: 30px;
}

#who img {
    margin-left: 85px;
    margin-bottom: 33px;
}

#urban img {
    margin-left: 85px;
    margin-bottom: 33px;
}

#contact h3{
    text-align: center;
    margin-top:60px;
    margin-bottom: 40px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

#contact a {
    padding: 10px;
}

#graffiti {
    background-image: url(img/graffiti2.jpg);
    padding-top: 55px;
    padding-bottom: 45px;
}

#tour img {
    margin-left: 85px;
    margin-bottom: 33px;
}

#perrier img {
    margin-left: 85px;
    margin-bottom: 33px;
}

#pink {
    position:relative;
    left:90px;
}

#writing #description {
    text-align: left;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

#writing p {
    text-align: left;
}

a:hover {
    background-color: darkgray;
    color:white;
}

#front a:hover {
    opacity: 0.6;
    background-color: white;
}

#front img {
    margin-bottom: 20px;
}

#front {
    margin-top: 15px;
}

#experience p {
    margin-bottom: 40px;
    margin-left: 30px;
}

#education p {
    margin-left: 30px;
}

table {
    border: none;
    margin-top:20px;
    }

td {
   width: 120px;
    font-family: Fjalla One, monospace;
    font-size: 17px;
    }

#numbers td {
    color: #fd4719;
    font-size: 20px;
    position: relative;
    left: 1px;
    }

#experience li {
    list-style: none;
    margin-left: -40px;
    font-size: 16px;
    font-family: 'Cutive Mono', monospace;
}

#experience ul {
    margin-top: -20px;
}

.rectangle {
    margin-bottom: 33px;
    margin-left: 33px;
}
.right {
    display: inline-block;
    float:right;
    margin-right:33px;
}

.left {
    margin-left: 33px;
    margin-bottom: 33px;
}

.grey {
    background-color: #efefef;
    margin-bottom: 50px;
    margin-top: 40px;
}

.grey p {
    position: relative;
    top:-11px;
}